/* -------------- HOME ------------- */
.view-home {
  overflow: hidden;
  position: relative;

  .home-wrapper,
  .commands-wrapper,
  .faq-wrapper {
    background: rgba(255,255,255,0.05);
    border-radius: 15px;
    padding: 15px 35px;
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    max-width: 768px;
  }

  .commands-wrapper,
  .faq-wrapper {
    top: 0;
  }

  .commands-wrapper {
    padding-bottom: 35px;

    section {
      border: solid 1px $white;
      padding: 15px;
    }
    p {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
    }
    .comm-name {
      width: 17%;
    }
    .comm-desc {
      border-left: solid 1px $white;
      padding-left: 15px;
      width: 80%;
    }
    .comm-title {
      border: none;
      font-weight: bold;

      .comm-desc {
        border-left: none;
        border-right: none;
      }
    }
  }

  .faq-wrapper {
    p {
      border-bottom: solid 1px $white;
      margin: 0;
      padding: 16px;
    }

    p:last-child {
      border-bottom: none;
    }
  }
}

.snow-comm,
.snow-faq {
  .login-wrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  .view-home {
    .home-wrapper {
      top: 120px;
    }
  }
}

@media (max-width: 480px) {
  .view-home {
    overflow-y: auto;
    overflow-x: hidden;
        
    .home-wrapper {
      top: 10px;
    }
  }
}
