/* -------------- DASHBOARD ------------- */
.dashboard {
  border: 1px solid #FFFFFF;
  margin-top: 20px;
  padding: 15px;

  .servers {
    display: flex;
    justify-content: center;
  }

  .server {
    align-items: center;
    border: solid 1px $white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 0;
    padding: 15px;

    &:hover {
      cursor: pointer;
    }

    img {
      border-radius: 25%;
      width: 112px;
    }

    h2 {
      margin-top: 10px;
    }

    p {
      margin: 5px 0 0 0;
    }
  }
}

@media (min-width: 768px) {
  .dashboard {
    padding: 30px;
  }
}