/* -------------- FOOTER ------------- */
footer {
  align-items: center;
  background: linear-gradient($purple,$grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 30px 15px 30px;

  p {
    font-size: 12px;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .socials {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }

  .social-icons {
    padding-right: 25px;
    width: 17px;
    max-height: 17px;

    &:hover {
      svg path {
        fill: $pink;
      }
    }

    &:last-child {
      padding-right: 0;
    }

    svg path {
      fill: $white;
    }
  }
}

@media (min-width: 768px) {
  footer {
    flex-wrap: nowrap;

    p {
      font-size: 14px;
      width: auto;
    }

    .socials {
      margin: 0;
      width: auto;
    }
  }
}