/* -------------- SERVER ------------- */
#settings {
  border: 1px solid #FFFFFF;
  margin-top: 20px;
  padding: 15px;

  section {
    border: solid 1px $white;
    border-radius: 8px;
    margin: 15px 0;
    padding: 15px;
  }

  .switch-info {
    display: flex;
  }

  .switch-box {
    cursor: pointer;
    height: 35px;
    margin-right: 20px;
    position: relative;
    width: 70px;

    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: $grey;
      border-radius: 2px;
      cursor: pointer;
      height: 36px;
      outline: 0;
      position: relative;
      -webkit-transition: all .2s;
      transition: all .2s;
      width: 70px;
    }
  
    input[type="checkbox"]:after {
      background: #dfeaec;
      border-radius: 2px;
      content: "";
      height: 28px;
      top: 3px;
      left: 5px;
      position: absolute;
      width: 30px;
      -webkit-transition: all .35s;
      transition: all .35s;
      z-index: 2;
    }
  
    svg {
      fill: #fff;
      position: absolute;
      top: 50%;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transition: all .35s;
      transition: all .35s;
      z-index: 1;
    }
  
    .is-checked {
      width: 18px;
      left: 18%;
      -webkit-transform: translateX(190%) translateY(-30%) scale(0);
      transform: translateX(190%) translateY(-30%) scale(0);
    }
  
    .is-unchecked {
      width: 15px;
      right: 10%;
      -webkit-transform: translateX(0) translateY(-30%) scale(1);
      transform: translateX(0) translateY(-30%) scale(1);
    }
  
    /* Checked State */
    input[type="checkbox"]:checked {
      background: $pink;
      height: 35px;
    }
  
    input[type="checkbox"]:checked:after {
      left: calc(100% - 34px);
    }
  
    input[type="checkbox"]:checked + .is-checked {
      -webkit-transform: translateX(0) translateY(-30%) scale(1);
      transform: translateX(0) translateY(-30%) scale(1);
    }
  
    input[type="checkbox"]:checked ~ .is-unchecked {
      -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
      transform: translateX(-190%) translateY(-30%) scale(0);
    }
  }

  .feature {
    align-items: center;
    display: flex;
    padding-top: 15px;

    label {
      margin: 0 10px 0 0;
    }

    input[type="text"] {
      background: transparent;
      border: solid 1px $white;
      color: $white;
      font-family: $font-family;
      font-size: 16px;
      outline-color: $pink;
      padding: 5px;
    }
  }

  .save-box {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    .save-notice {
      display: none;
      margin: 0 15px;
    }
  }
}