<div class="view-header">
  <p class="logo-text"><span>SNOWFLAKE</span>BOT</p>
  <ul>
    <li><a href="#" class="snow-user"><%= profile.username %></a></li>
    <li><button class="snow-logout">LOGOUT</button></li>
  </ul>
</div>