<!DOCTYPE html>
<html>

<head>
  <title>Snowflake Bot</title>
  <link rel="icon" type="image/jpg" href="../images/snowflake.jpg">
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body class="snow-faq">
  <%- include('header') %>
  <div class="view-home">
    <canvas id="snowCanvas"></canvas>
    <div class="faq-wrapper">
      <h2>Frequently Asked Questions</h2>
      <p>
        <span>Q: Can I add Snowflake to my server?</span>
        <br><br><span>A: The bot is only serving AthenaUS and AikoBliss servers at the moment.</span>
      </p>
      <p>
        <span>Q: Do you plan on eventually making this bot public?</span>
        <br><br><span>A: At this time I have no plans in making it public. Maybe in the future.</span>
      </p>
    </div>
  </div>
  <%- include('footer') %>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../scripts/snowflake.min.js"></script>
  <script type="text/javascript" src="../scripts/snowfall.js"></script>
</body>

</html>