<div class="view-header">
  <p class="logo-text"><a href="/"><span>SNOWFLAKE</span>BOT</a></p>
  <ul>
    <li><a href="/commands" class="link-commands">COMMANDS</a></li>
    <li><a href="/faq" class="link-faq">FAQ</a></li>
    <li class="login-wrapper"><button class="snow-login">LOGIN</button></li>
  </ul>
</div>