.container
  .box
    h1 Command List
    .commands
      section
        h2.pink !8ball
        p Usage: !8ball &lt;question&gt;
        p Description: Ask the bot like a Magic 8 Ball.
      section
        h2.pink !commands
        p Usage: !commands
        p Description: Displays the link for the commands page of the bot website.
      section
        h2.pink !gamble
        p Usage: !gamble &lt;amount&gt;
        p Description: Play a game of double or nothing with the bot.
        p Values: &lt;number&gt; | all | half
      section
        h2.pink !give
        p Usage: !give &lt;@user&gt; &lt;amount&gt;
        p Description: Transfer an amount of points to another user by tagging them.
      section
        h2.pink !leaderboard
        p Usage: !leaderboard
        p Description: Displays a list of users with the highest level and exp in the server.
      section
        h2.pink !optin
        p Usage: !optin &lt;role&gt;
        p Description: Adds a role made for notifying users in specific channels.
      section
        h2.pink !optout
        p Usage: !optout &lt;role&gt;
        p Description: Removes a role made for notifying users in specific channels.
      section
        h2.pink !points
        p Usage: !points
        p Description: Displays the amount of points of the user.
      section
        h2.pink !profile
        p Usage: !profile
        p Description: Displays a profile card with the latest rank information of the user.
      section
        h2.pink !snowflake
        p Usage: !snowflake
        p Description: Displays the bot information.