.container
  .box
    h1 Command List
    .commands
      section
        h2.pink /8ball
        p Usage: /8ball &lt;question&gt;
        p Description: Play a game of Magic 8 Ball
      section
        h2.pink /clear [admin]
        p Usage: /clear &lt;amount&gt;
        p Description: Delete a specific amount of message
      section
        h2.pink /gamble
        p Usage: /gamble &lt;amount&gt;
        p Description: Play your points for a chance to double it
        p Values: &lt;number&gt; | all | half
      section
        h2.pink /give
        p Usage: /give &lt;@user&gt; &lt;amount&gt;
        p Description: Give an amount of points to a user
      section
        h2.pink /help
        p Usage: /help
        p Description: Display helpful links about the bot
      section
        h2.pink /info
        p Usage: /info
        p Description: Display bot information
      section
        h2.pink /leaderboard
        p Usage: /leaderboard &lt;type&gt;
        p Description: Display the top users for this server
        p Values: points | rank
      section
        h2.pink /nickname [admin]
        p Usage: /nickname &lt;@role&gt; &lt;format&gt;
        p Description: Set nicknames of members that have the specified role
      section
        h2.pink /optin
        p Usage: /optin &lt;@role&gt;
        p Description: Add a role to yourself
      section
        h2.pink /optout
        p Usage: /optout &lt;role&gt;
        p Description: Remove a role from yourself
      section
        h2.pink /points
        p Usage: /points
        p Description: Display your points balance
      section
        h2.pink /profile
        p Usage: /profile (optional) &lt;@user&gt;
        p Description: Display your user profile
      section
        h2.pink /star
        p Usage: /star &lt;@user&gt;
        p Description: Give a star to a user as a form of endorsement
      section
        h2.pink /take [admin]
        p Usage: /take &lt;@user&gt; &lt;amount&gt;
        p Description: Take an amount of points from a user