.container
  .box
    h1="Frequently Asked Questions"
    .questions
      section
        p.pink Q: Can I add Snowflake Bot to my Discord server?
        p A: No. The bot is created exclusively for AthenaUS and AikoBliss servers.
      section
        p.pink Q: Will the bot be available to the public in the future?
        p A: No. Athena is considering of creating a separate public Discord bot instead.
      section
        p.pink Q: I have an idea for the bot! Where can I submit feature requests?
        p A: You can tag Athena on Discord. If you are on Github, you can open an issue as well.