.container
  .box.faq
    h1="Frequently Asked Questions"
    .questions
      section
        p.pink Q: Can I add Snowflake Bot to my Discord server?
        p A: No. The bot is created exclusively for AthenaUS and AikoBliss servers.
      section
        p.pink Q: Will the bot be available to the public in the future?
        p A: No. Athena is considering of creating a separate public Discord bot instead.
      section
        p.pink Q: I have an idea for the bot! Where can I submit feature requests?
        p A: You can tag Athena on Discord. If you are on Github, you can open an issue as well.
    h1="Leveling Guide"
    .levelGrid
      .row
        p.action.pink Action / Status
        p.addend.pink EXP Addend
      .row
        p.action Post one (1) message in a public channel
        p.addend + 2
      .row
        p.action Post one (1) attachment (photo/video) in a public channel
        p.addend + 10
      .row
        p.action Add one (1) reaction to a message
        p.addend + 1
      .row
        p.action Remove one (1) reaction from a message
        p.addend - 1
      .row
        p.action Your message gets re-posted in the highlight board
        p.addend + 25
      .row
        p.action Subscriber Status
        p.addend + 1 bonus
      .row
        p.action Nitro Booster Status
        p.addend + 2 bonus