.container
  .box
    h1 Hello World!
    p This bot is exclusively made for the AthenaUS and AikoBliss servers.
    p If you are already a member of our awesome community, this is where you can find information about the bot commands. For other questions and general feedback, just tag Athena on Discord!