.container
  .box
    h1 Hello World!
    p Snowflake is a private Discord bot created by AthenaUS.
    p If you are already a member of our awesome community, this is where you can find information about the bot commands. For other questions and general feedback, just tag Athena on Discord!
.container 
  .widgets
    iframe(src="https://discord.com/widget?id=282668559765602304&theme=dark" width="320" height="450" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts")
    iframe(src="https://discord.com/widget?id=390373666460008450&theme=dark" width="320" height="450" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts")